#!/usr/bin/make -f
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
	  --python /usr/bin/python3 \
	  --install-suffix postino/venv \
	  --builtin-venv \
	  --extras daemon \
	  --extra-pip-arg --no-cache-dir \
	  --extra-pip-arg --upgrade-strategy=only-if-needed
